.navigation {
  background-color: #f9f9f9;
  margin-bottom: 1rem;

  ul {
    margin: 0;
    padding: 0.5rem;
    display: flex;
    gap: 1rem;
    list-style: none;
  }

  .first {
    color: red;
  }
}